/* global setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1440px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
.dark-mode-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

.controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }
  
.search-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
  }
  
.search-button i {
    color: #000;
    font-size: 16px;
  }
  
.search-button input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
  }
  
.search-button input::placeholder {
    color: #aaa;
  }
  
#region-filter {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color:white;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  #country-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 40px;
    padding: 30px 50px;
  }
  
.country-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
  }
  
.country-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
.country-info {
    padding: 1rem;
  }
  
.country-info h2 {
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  
.country-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  #back-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  #detail-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
  }


  @media (max-width: 375px) {
   
    body {
      width: 100%;
      padding: 0 10px;
    }
  
    .header {
      flex-direction: row;
      align-items: flex-start;
      padding: 15px 10px;
    }
  .header h1{
    font-size: 14px;
  }
    .controls {
      flex-direction:column;
      padding: 20px 10px;
      gap: 20px;
    }
  
    .search-button {
      width: 100%;
      padding-left:20px;
    }
  
    #region-filter {
      width: 100%;
      font-size: 16px;
    }
  
    #country-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 20px 10px;
    }
  
    .country-card img {
      height: 120px;
    }
  
    .country-info h2 {
      font-size: 18px;
    }
  
    .country-info p {
      font-size: 16px;
    }
}
